.input-container {
    font-size: $m-size;
    min-width: 270px;

    input,
    textarea {
        width: 100%;
    }

    margin: 10px;

    .DateInput {
        width: unset;

        .DateInput_input {
            width: unset;
            padding: 5px 0;
        }
    }
}