.expenseList {
    .expenseListFilters {
        padding: 0.5rem;
        > input {
            height: $l-size;
            font-size: $m-size;
            padding-left: 0.5rem;
            width: 26rem;
            // background: lightcyan;
        }
        select {
            height: $l-size;
            font-size: 1.4rem;
            margin: 0 $s-size;
        }

        .DateRangePickerInput {
            .DateInput {
                width: 100px;
            }
            .DateInput_input {
                padding: 2px;
            }
            .DateRangePickerInput_clearDates {
                margin-right: 0;
            }
        }
    }
    .expenseListFilterInfo {
        color: red;
        margin-bottom: $m-size;
    }
}

.expenseListItem {
    margin: 0.5rem;
    p {
        display: inline-block;
        min-width: 28rem;
    }
    button {
        font-size: $s-size;
        // font-weight: bold;
        padding: 3px 5px;
    }
}