.sub-heading {
    font-size: $m-size;
    color: red;
    vertical-align: middle;
}

.nav-right {
    float: right;
    margin: $xs-size 0;
    padding: 3px;
    border-bottom: 2px solid red;

    a {
        margin: 0 $s-size;
        font-size: $m-size;
        text-decoration: none;
    }
}

.is-active {
    font-weight: bold;
    color: red;
    // border-top: 2px solid red;
    border-bottom: 2px solid red;
}