html {
    font-size: 62.5%; // to make base font size 10px
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

button {
    cursor: pointer;

    :disabled {
        cursor: default;
    }
}

body a {
    display: inline-block;
    padding: $s-size;
    font-size: $s-size;
}

h2 {
    display: inline-block;
    // font-size: $l-size;
    margin: 1rem;
}

p {
    font-size: $m-size;
    margin: $s-size;
}

.error-message {
    color: red;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: flex-start;
}