// Theme Colors

// Sizing and Spacing
$xs-size: 0.8 rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 2.4rem;
$xl-size: 3.2rem;
$xxl-size: 4.8rem;

// User Device breakpoints
$desktop-width: 45rem;

// Font sizes
h1 {
    font-size: $xxl-size;
}

h2 {
    font-size: $xl-size;
}

h3 {
    font-size: $l-size;
}

h4 {
    font-size: $m-size;
}

h5 {
    font-size: $s-size;
}

p {
    font-size: $m-size;
}

// margins and paddings
.m-5px {
    // margin: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1rem;
}